<h1>Education</h1>
<h2>Ontario Tech University</h2>
<h3>September 2020 - April 2022</h3>
<p>Computer Science</p>
<ul>
  <li>GPA: 4.0</li>
  <li>Notable Courses: System, Computer Graphics, Compilers, etc</li>
</ul>
<h2>George Brown College</h2>
<h3>Sept 2015 - April 2019</h3>
<p>Computer Programming Analyst</p>
<ul>
  <li>GPA: 3.75</li>
  <li>Notable Courses: Algorithms & Data Structures, Machine Learning, Full-Stack Development,
    <br>
    Mobile Development, Advanced Object-Oriented Programming, Advanced Database Development
  </li>
</ul>
<h2>Seneca College</h2>
<h3>Sept 2011 - April 2015</h3>
<p>Business Administration: Accounting and Financial Planning</p>
