<h1>About Me</h1>
<div>
  <p>Hey there welcome to my site and thank you for taking the time checking it out! My name is Jacky and I'm a software engineer currently working at CIBC as a Web Developer. I graduted from Ontario Tech University and George Brown College with a high academic standing studying Computer Science. At a very young age I've always been fascinated with science and technology as it was very cool to see how things worked and created. Throughout my years as a student I have discovered that I am very competitive and have an ability to learn things very quick, to take advantage of this I seek out challenges since it gives me the opportunity to learn more and further hone my skills as I wish to be the best version of myself. My interest currently lies within the topic of Web Development, Data Science and Machine Learning.</p>
  <p>Here are some technologies that I have worked with:</p>
  <ul>
    <li>Python</li>
    <li>C#</li>
    <li>SQL</li>
    <li>MongoDB</li>
    <li>Angular</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Node.JS</li>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Keras</li>
  </ul>
</div>
