<h1>About Me</h1>
<p>Hello, I'm Jacky and I'm currently in my last year at Ontario Tech University studying computer science.
  <br>
  At a very young age technology and science has fascinated me as it seemed very cool on how things are made and worked.
  <br>
  Throughout my years of learning I have discovered that I have an ability to learn things very quickly and to take advantage
  <br>
  of this I seek out challenges since serves as an opportunity to learn more and become a better better at the thing I'm doing.
  <br>
  Everyday I strive to become a better version of myself making me a better person and one day I can apply my talent to everywhere.
</p>
<h2>Interests</h2>
<ul>
  <li>Extra Curricular: Art, Video Games, MMA, Exercising</li>
  <li>Technical: Game Dev, Machine Learning, Mobile Application, Web Application</li>
</ul>
<h2>Skills</h2>
<ul>
  <li>Technical Skill: Java, Python, C#, Swift, Bash, Git</li>
  <li>Databases: SQL, MongoDB</li>
  <li>Web Development: HTML/CSS, JavaScript, Node.JS, React, Angular, JSP, JSF</li>
  <li>Analytics: NumPy, Pandas, Matplotlib, Keras, SKLearn</li>
</ul>
<h2>Languages</h2>
<ul>
  <li>Fluent: English, Cantonese</li>
  <li>Studying: Japanese, Korean</li>
</ul>