<h1>Experience</h1>
<h2>CIBC</h2>
<h3>Web Developer</h3>
<h3>August 2022 - Present</h3>
<ul>
  <li>Developed an internal fullstack automation testing application to monitor environments, using AngularJS, JavaScript, TypeScript, Jenkins, Python and Playwright.</li>
  <li>Updating content changes for many different products on multiple platforms at the request of line of business.</li>
  <li>Assisted in developing CIBC's virtual assistant chatbot using IBM Watson.</li>
  <li>Managed the packaging of daily releases and pushing them into the pipeline.</li>
</ul>