<h1>Projects</h1>
<h2>Twitch Search</h2>
<p>A website using twitch api</p>
<h2>Spam Filter</h2>
<p>A program built on Java using Machine Learning to detect spam emails using probbability</p>
<h2>Resturant Tracker</h2>
<p>An android app that allows user's to save their resturants and give it a rating<br>
  and using google maps api they can find the location off the app on google maps.
</p>
<h2>Jae's Boutique</h2>
<p>An iOS app that shows the user a list of clothings which they can add to cart and determine contributors<br>
  and user's can create their own shopping list with custom tags.
</p>